{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
	integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
	integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<link rel="stylesheet" type="text/css" href="{% static 'header_footer.css' %}">
{% endblock %}
{% block title %}Mapa{% endblock %}
{% block content %}

<div class=" d-flex w-100 my-3 p-3 mx-auto bg-gray-100 rounded justify-content-around align-items-center">
	<div id="map" style="width: 500px; height: 500px"></div>
</div>
{{ ubicaciones|json_script:"ubicaciones-json" }}

<script>
	document.addEventListener( 'DOMContentLoaded', () => {
		let map = L.map( 'map' )
		map.setView( [-34.92135, -57.95443], 15 )
		L.tileLayer( 'https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
			maxZoom: 19,
			attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>',
		} ).addTo( map )

		let ubicaciones = JSON.parse( document.getElementById( 'ubicaciones-json' ).textContent )

		ubicaciones.forEach( ( ubicacion ) => {
			let mp = new L.Marker( [ubicacion.latitud, ubicacion.longitud] )
			mp.addTo( map )
			if ( ubicacion.disponible ) {
				mp.bindPopup( '<div class="d-flex flex-column">' +
					'<div class="mb-3 text-center"><b>' + "(" + ubicacion.tipo_servicio + ") " + ubicacion.nombre + " " + ubicacion.apellido + '</b></div>' +
					'<div class="mb-3 text-center"> ' + ubicacion.descripcion + ' </div>' +
					'<a class="btn text-white px-2 py-1 mb-1" href="../contactar/' + ubicacion.id + '">Contactar</a>' + '</div>'
				).openPopup()
			}
		} )
	} )
</script>
{% endblock %}